body {
  font-family: Arial, sans-serif;
  padding: 20px;
}

button {
  padding: 8px 14px;
  cursor: pointer;
}

#error {
  color: red;
  margin-top: 10px;
}

li {
  margin-bottom: 8px;
}


button {
    background-color: teal;
    color: white;
    border: 1px solid rgb(3, 3, 3);
    border-radius: 6px;
    transition: background-color 0.3s;
}
